#images_list {
	display: none;
}

#sidebar {
    width: 200px;
    float: left;
    margin-right: 20px;
}

/*
#frame img {
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;	
	transition: opacity 1s ease-in-out;
}*/

#frame {
    width: 640px;
    height: 480px;
    margin: 0;
    padding: 0;

    float: left;
}

#frame .fullOpacity {
    opacity: 1;
}